{% extends "basefile.html" %}
{% load static%}
{% block content %}
<div id="banner-area" class="banner-area" style="background-image:url({% static 'images/banner/banner5.jpg' %})">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="banner-heading">
               <h1 class="banner-title">About us</h1>
               <ol class="breadcrumb">
                  <li>Home</li>
                  <li>About us</li>
               </ol>
            </div>
         </div>
         <!-- Col end -->
      </div>
      <!-- Row end -->
   </div>
   <!-- Container end -->
</div>
<!-- Banner area end -->


<section id="main-container" class="main-container">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="tw-about-bin">
               <h2 class="column-title">About <span>SocialTubers</span></h2>
               <span class="animate-border tw-mb-40 tw-mt-20"></span>
               <p>We help influencers find awesome brands with unique products
                  to partner with. The best influencer programs can provide
                  you with great ways to monetize your social media following,
                  content and your business. </p>
               <p> We launch and scale influencer marketing efforts of brands with our
                  A-List influencer partners. Let us write
                  up and feature your influencer program.</p>
            </div>
            <!-- About Bin End -->
         </div>
         <!-- Col End -->
         <div class="col-md-6 align-self-md-center">
            <img src="{% static 'images/about/about_page_img1.png' %}" alt="" class="img-fluid">
         </div>
         <!-- Col End -->
      </div>
      <!-- Row end -->
   </div>
   <!-- Container end -->
</section>
<!-- Main container end -->


<section id="tw-mission" class="tw-mission">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="mission-carousel owl-carousel">
               <div class="row">
                  <div class="col-md-6 mr-auto align-self-md-center">
                     <img src="{% static 'images/about/our_mission.png' %}" alt="" class="img-fluid">
                  </div>
                  <!-- Col End -->
                  <div class="col-md-6">
                     <div class="mission-body">
                        <div class="mission-title tw-mb-40">
                           <h2 class="column-title">Our Mission</h2>
                           <span class="animate-border bg-white border-orange tw-mt-30"></span>
                        </div>
                        <p>
                           We intend to find the perfect brand-influencer
                           matches. Brands and Influencers depending upon
                           their product and content, or budget, or targeted
                           niche, or recent growth, audience retention, etc.
                           can match their perfect partner to create the best
                           collaboration.
                        </p>
                     </div>
                  </div>
                  <!-- Col End -->
               </div>
               <!-- Content Row End -->
               {% comment %} <div class="row">
                  <div class="col-md-6 mr-auto align-self-md-center">
                     <img src="{% static 'images/about/our_mission.png' %}" alt="" class="img-fluid">
                  </div>
                  <!-- Col End -->
                  <div class="col-md-6">
                     <div class="mission-body">
                        <div class="mission-title tw-mb-40">
                           <h2 class="column-title">Our Mission</h2>
                           <span class="animate-border bg-white border-orange tw-mt-30"></span>
                        </div>
                        <p>
                           Start working with an company that can provide everything you need to generate awareness,
                           drive traffic, connect with customers,
                           and increase sales nascetur ridiculus mus. massa quis enim. Donec pede justo.
                        </p>
                     </div>
                  </div>
                  <!-- Col End -->
               </div>
               <!-- Content Row End -->
               <div class="row animated fadeIn">
                  <div class="col-md-6 mr-auto align-self-md-center">
                     <img src="{% static 'images/about/our_mission.png' %}" alt="" class="img-fluid">
                  </div>
                  <!-- Col End -->
                  <div class="col-md-6">
                     <div class="mission-body">
                        <div class="mission-title tw-mb-40">
                           <h2 class="column-title">Our Mission</h2>
                           <span class="animate-border bg-white border-orange tw-mt-30"></span>
                        </div>
                        <p>
                           Start working with an company that can provide everything you need to generate awareness,
                           drive traffic, connect with customers,
                           and increase sales nascetur ridiculus mus. massa quis enim. Donec pede justo.
                        </p>
                     </div>
                  </div>
                  <!-- Col End -->
               </div> {% endcomment %}
               <!-- Content Row End -->
            </div>
            <!-- Mission Carousel End -->
         </div>
         <!-- Col End -->
      </div>
      <!-- Row End -->
   </div>
   <!-- Container End -->
</section>
<!-- Mission End -->


<section id="tw-timeline" class="tw-timeline">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="timeline-wrapper">
               <div class="row">
                  <div class="col-md-6 timeline-item left-part">
                     <div class="timeline-badge"></div>
                     <div class="timeline-panel">
                        <p class="details">Transparent and open communication in combination with
                           full analytical and operational campaign support brands are looking for
                        </p>
                     </div>
                  </div>
                  <div class="col-md-6 timeline-item ">
                     <div class="timeline-date left-part">
                        <p class="title">We are Transparent</p>
                        <p class="tagline"></p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6 timeline-item">
                     <div class="timeline-date active">
                        <p class="title">We are Innovative</p>
                        <p class="tagline"></p>
                     </div>
                  </div>
                  <div class="col-md-6 timeline-item">
                     <div class="timeline-badge active"></div>
                     <div class="timeline-panel">
                        <p class="details">We exist to challenge the status quo - we think different,
                           act fast and are always open to new ideas and feedback
                        </p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6 timeline-item left-part">
                     <div class="timeline-badge"></div>
                     <div class="timeline-panel">
                        <p class="details">We always stay reliable and take responsibility.
                        </p>
                     </div>
                  </div>
                  <div class="col-md-6 timeline-item ">
                     <div class="timeline-date left-part">
                        <p class="title">We are Responsible</p>
                        <p class="tagline"></p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6 timeline-item">
                     <div class="timeline-date">
                        <p class="title">We stick together</p>
                        <p class="tagline"></p>
                     </div>
                  </div>
                  <div class="col-md-6 timeline-item">
                     <div class="timeline-badge"></div>
                     <div class="timeline-panel">
                        <p class="details">We build relationships and value long-term cooperation through openness and
                           team spirit.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>








<section id="tw-team" class="tw-team bg-offwhite">
   <div class="container">
      <div class="row">
         <div class="col text-center">
            <div class="section-heading tw-mb-80">
               <h2>
                  <small>our team</small>
                  Our Best <span>Experts</span>
               </h2>
               <span class="animate-border border-offwhite tw-mt-20 ml-auto mr-auto"></span>
            </div>
         </div>
         <!-- Title Col end -->
      </div>
      <!-- Title row End -->
      <div class="row">
         <div class="col-md-3">
            <div class="tw-team-box">
               <div class="team-img">
                  <img src="{% static 'images/team/expert1.png' %}" alt="" class="img-fluid bg-green">
               </div>
               <div class="team-info">
                  <h3 class="team-name">Jeel Shah</h3>
                  <p class="team-designation">Marketing Head</p>
                  <div class="team-social-links">
                     <a href="#"><i class="fa fa-facebook"></i></a> &nbsp
                     <a href="#"><i class="fa fa-twitter"></i></a>
                     <a href="#"><i class="fa fa-instagram"></i></a>
                     <a href="#"><i class="fa fa-linkedin"></i></a>
                  </div>
               </div>
               <!-- Team Info end -->
            </div>
            <!-- Team Box End -->
         </div>
         <!-- Col End -->
         <div class="col-md-3">
            <div class="tw-team-box">
               <div class="team-img">
                  <img src="{% static 'images/team/expert2.png' %}" alt="" class="img-fluid bg-orange">
               </div>
               <div class="team-info">
                  <h3 class="team-name">Mihir Jadhav</h3>
                  <p class="team-designation">Vice President</p>
                  <div class="team-social-links">
                     <a href="#"><i class="fa fa-facebook"></i></a>
                     <a href="#"><i class="fa fa-twitter"></i></a>
                     <a href="#"><i class="fa fa-instagram"></i></a>
                     <a href="#"><i class="fa fa-linkedin"></i></a>
                  </div>
               </div>
               <!-- Team Info end -->
            </div>
            <!-- Team Box End -->
         </div>
         <!-- Col End -->
         <div class="col-md-3">
            <div class="tw-team-box">
               <div class="team-img">
                  <img src="{% static 'images/team/expert3.png' %}" alt="" class="img-fluid bg-blue">
               </div>
               <div class="team-info">
                  <h3 class="team-name">Heena Kasali</h3>
                  <p class="team-designation">Hiring Manager</p>
                  <div class="team-social-links">
                     <a href="#"><i class="fa fa-facebook"></i></a>
                     <a href="#"><i class="fa fa-twitter"></i></a>
                     <a href="#"><i class="fa fa-instagram"></i></a>
                     <a href="#"><i class="fa fa-linkedin"></i></a>
                  </div>
               </div>
               <!-- Team Info end -->
            </div>
            <!-- Team Box End -->
         </div>
         <!-- Col End -->
         <div class="col-md-3">
            <div class="tw-team-box">
               <div class="team-img">
                  <img src="{% static 'images/team/expert4.png' %}" alt="" class="img-fluid bg-yellow">
               </div>
               <div class="team-info">
                  <h3 class="team-name">Ronak Gala</h3>
                  <p class="team-designation">Advisor</p>
                  <div class="team-social-links">
                     <a href="#"><i class="fa fa-facebook"></i></a>
                     <a href="#"><i class="fa fa-twitter"></i></a>
                     <a href="#"><i class="fa fa-instagram"></i></a>
                     <a href="#"><i class="fa fa-linkedin"></i></a>
                  </div>
               </div>
               <!-- Team Info end -->
            </div>
            <!-- Team Box End -->
         </div>
         <!-- Col End -->
      </div>
      <!-- Content Row End -->
   </div>
   <!-- Container end -->
</section>
<!-- Team Section End -->

{% comment %} <section id="tw-testimonial" class="tw-testimonial">
   <div class="container">
      <div class="row align-items-center justify-content-center">
         <div class="col-md-6 wow fadeInLeft" data-wow-duration="1s">
            <div class="tw-testimonial-content text-center">
               <h2 class="section-title">Love From Clients</h2>
               <span class="animate-border border-green tw-mt-20 tw-mb-40 ml-auto mr-auto"></span>
            </div>
            <div class="tw-testimonial-carousel owl-carousel">
               <div class="tw-testimonial-wrapper">
                  <div class="testimonial-bg testimonial-bg-orange">
                     <div class="testimonial-icon">
                        <img src="{% static 'images/icon-image/testimonial1.png' %}" alt="" class="img-fluid">
                     </div>
                  </div>
                  <!-- End Testimonial bg -->
                  <div class="testimonial-text">
                     <p>Start working with an company that can do provide every thing at you need to generate awareness,
                        drive traffic, connect with</p>
                     <div class="testimonial-meta">
                        <h4>
                           Jason Stattham
                           <small>CEO Microhost</small>
                        </h4>
                        <i class="icon icon-quote2"></i>
                     </div>
                     <!-- End Testimonial Meta -->
                  </div>
                  <!-- End testimonial text -->
               </div>
               <!-- End Tw testimonial wrapper -->
               <div class="tw-testimonial-wrapper">
                  <div class="testimonial-bg testimonial-bg-orange">
                     <div class="testimonial-icon">
                        <img src="{% static 'images/icon-image/testimonial1.png' %}" alt="" class="img-fluid">
                     </div>
                  </div>
                  <!-- End Testimonial bg -->
                  <div class="testimonial-text">
                     <p>Start working with an company that can do provide every thing at you need to generate awareness,
                        drive traffic, connect with</p>
                     <div class="testimonial-meta">
                        <h4>
                           Jason Stattham
                           <small>CEO Microhost</small>
                        </h4>
                        <i class="icon icon-quote2"></i>
                     </div>
                     <!-- End Testimonial meta -->
                  </div>
                  <!-- End Testimonial Text -->
               </div>
               <!-- End Tw testimonial wrapper -->
               <div class="tw-testimonial-wrapper">
                  <div class="testimonial-bg testimonial-bg-orange">
                     <div class="testimonial-icon">
                        <img src="{% static 'images/icon-image/testimonial1.png' %}" alt="" class="img-fluid">
                     </div>
                  </div>
                  <!-- end testimonial bg -->
                  <div class="testimonial-text">
                     <p>Start working with an company that can do provide every thing at you need to generate awareness,
                        drive traffic, connect with</p>
                     <div class="testimonial-meta">
                        <h4>
                           Jason Stattham
                           <small>CEO Microhost</small>
                        </h4>
                        <i class="icon icon-quote2"></i>
                     </div>
                     <!-- End testimonial meta -->
                  </div>
                  <!-- End testimonial text -->
               </div>
               <!-- End tw testimonial wrapper -->
            </div>
            <!-- End Tw testimonial carousel -->
         </div>
         <!-- End Col -->
      </div>
      <!-- End Row -->
   </div>
   <!-- End Container -->
</section> {% endcomment %}
<!-- End TW testimonial -->
{% comment %}
<section id="tw-client" class="tw-client">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="clients-carousel owl-carousel">
               <div class="client-logo-wrapper d-table">
                  <div class="client-logo d-table-cell">
                     <img src="{% static 'images/clients/client1.png' %}" alt="">
                  </div>
                  <!-- End Clients logo -->
               </div>
               <!-- End Client wrapper -->
               <div class="client-logo-wrapper d-table">
                  <div class="client-logo d-table-cell">
                     <img src="{% static 'images/clients/client2.png' %}" alt="">
                  </div>
                  <!-- End Clients logo -->
               </div>
               <!-- End Client wrapper -->
               <div class="client-logo-wrapper d-table">
                  <div class="client-logo d-table-cell">
                     <img src="{% static 'images/clients/client3.png' %}" alt="">
                  </div>
                  <!-- End Clients logo -->
               </div>
               <!-- End Client wrapper -->
               <div class="client-logo-wrapper d-table">
                  <div class="client-logo d-table-cell">
                     <img src="{% static 'images/clients/client4.png' %}" alt="">
                  </div>
                  <!-- End Clients logo -->
               </div>
               <!-- End Client wrapper -->
               <div class="client-logo-wrapper d-table">
                  <div class="client-logo d-table-cell">
                     <img src="{% static 'images/clients/client2.png' %}" alt="">
                  </div>
                  <!-- End Clients logo -->
               </div>
               <!-- End Client wrapper -->
               <div class="client-logo-wrapper d-table">
                  <div class="client-logo d-table-cell">
                     <img src="{% static 'images/clients/client2.png' %}" alt="">
                  </div>
                  <!-- End Clients logo -->
               </div>
               <!-- End Client wrapper -->
               <div class="client-logo-wrapper d-table">
                  <div class="client-logo d-table-cell">
                     <img src="{% static 'images/clients/client2.png' %}" alt="">
                  </div>
                  <!-- End Clients logo -->
               </div>
               <!-- End Client wrapper -->
               <div class="client-logo-wrapper d-table">
                  <div class="client-logo d-table-cell">
                     <img src="{% static 'images/clients/client2.png' %}" alt="">
                  </div>
                  <!-- End Clients logo -->
               </div>
               <!-- End Client wrapper -->
               <div class="client-logo-wrapper d-table">
                  <div class="client-logo d-table-cell">
                     <img src="{% static 'images/clients/client2.png' %}" alt="">
                  </div>
                  <!-- End Clients logo -->
               </div>
               <!-- End Client wrapper -->
            </div>
            <!-- End Carousel -->
         </div>
         <!-- End Col -->
      </div>
      <!-- End Row -->
   </div>
   <!-- End Container -->
</section> {% endcomment %}
<!-- End Tw Client -->

{% endblock %}