{% extends "basefile.html" %}
{% load static %}
{% block content %}


<!-- Start hero slider/ Owl Carousel Slider -->
<div class="tw-hero-slider owl-carousel">

   <div class="slider-1">
      <!-- Slider arrow end -->
      <div class="slider-wrapper d-table">
         <div class="slider-inner d-table-cell">
            <div class="container">
               <div class="row justify-content-center">
                  <div class="col-md-6">
                     <img src="{% static 'images/slider/slider3.png' %}" alt="" class="img-fluid slider-img">
                  </div>
                  <!-- Col end -->
                  <div class="col-md-6">
                     <div class="slider-content">
                        <h1>What is <span>SocialTubers</span></h1>
                        <p>SocialTubers is an online platform that enables brands to
                           analyse and visualise the performance of different digital media
                           content creators to produce perfect and apt collaborations.</p>

                     </div>
                     <!-- End Slider Content -->
                  </div>
                  <!-- col end -->
               </div>
               <!-- Row End -->
            </div>
            <!-- COntainer End -->
         </div>
         <!-- Slider Inner End -->
      </div>
      <!-- Slider Wrapper End -->
   </div>
   <!-- Slider 1 end -->


   <div class="slider-2">
      <div class="slider-arrow">
         <img src="{% static 'images/slider/pattern_arrow2.png' %}" alt="sliderArrow1">
         <img src="{% static 'images/slider/pattern_arrow1.png' %}" alt="sliderArrow2">
         <img src="{% static 'images/slider/pattern_arrow3.png' %}" alt="sliderArrow3">
      </div>
      <div class="slider-wrapper d-table">
         <div class="slider-inner d-table-cell">
            <div class="container">
               <div class="row justify-content-center">
                  <div class="col-md-6">
                     <div class="slider-content">
                        <h1>Creating
                           <span>Collaborations</span>
                        </h1>
                        <p>Robust and dynamic, our content creator marketplace is designed
                           to connect influencers from different channels and media with
                           various brands in order to deliver brand messages and drive conversions.
                        </p>

                     </div>
                  </div>
                  <!-- Col end -->
                  <div class="col-md-6">
                     <img src="{% static 'images/slider/slider2.png' %}" alt="" class="img-fluid slider-img">
                  </div>
                  <!-- col end -->
               </div>
               <!-- Row End -->
            </div>
            <!-- Container End -->
         </div>
         <!-- Slider Inner End -->
      </div>
      <!-- Slider Wrapper End -->
   </div>
   <!-- Slider 2 end -->


   <div class="slider-3">
      <div class="slider-arrow">
         <img src="{% static 'images/slider/pattern_arrow2.png' %}" alt="sliderArrow1">
         <img src="{% static 'images/slider/pattern_arrow1.png' %}" alt="sliderArrow2">
         <img src="{% static 'images/slider/pattern_arrow3.png' %}" alt="sliderArrow3">
      </div>
      <div class="slider-wrapper d-table">
         <div class="slider-inner d-table-cell">
            <div class="container">
               <div class="row justify-content-center">
                  <div class="col-md-6">
                     <img src="{% static 'images/slider/slider1.png' %}" alt="" class="img-fluid slider-img">
                  </div>
                  <!-- Col end -->

                  <div class="col-md-6">
                     <div class="slider-content">
                        <h1>
                           <span>Data Analytics</span><br /> at one click
                        </h1>
                        <p>Start working with a company that helps brands meet
                           their perfect influencer only after verifying all
                           the content data analysis at our platform.</p>

                     </div>
                     <!-- End Slider Content -->
                  </div>
                  <!-- col end -->
               </div>
               <!-- Row End -->
            </div>
            <!-- COntainer End -->
         </div>
         <!-- Slider Inner End -->
      </div>
      <!-- Slider Wrapper End -->
   </div>
   <!-- Slider 3 end -->
</div>
<!-- End Carousel -->


<section id="tw-features" class="tw-features-area">
   <div class="container">
      <div class="row tw-mb-65">
         <div class="col-md-4 wow fadeInLeft" data-wow-duration="1s">
            <h2 class="column-title text-md-right text-sm-center">Connecting<br /> Influencers & Brands</h2>
         </div>
         <!-- Col End -->
         <div class="col-md-7 ml-md-auto wow fadeInRight" data-wow-duration="1s">
            <p class="features-text">At SocialTubers, we believe that socially
               distributed visual content is the future of advertising.
               This platform allows brands to analyse and measure their
               marketing effort and engage influencer to create content.
            </p>
         </div>
         <!-- Col End -->
      </div>
      <div class="row text-center">
         <div class="col section-heading wow fadeInDown" data-wow-duration="1s">
            <h2>
               <small>Featuring</small>Our Top 3 <span>Influencers</span>
            </h2>
            <span class="animate-border ml-auto mr-auto tw-mt-20"></span>
         </div>
         <!-- End Col -->
      </div>
      <!-- End Row 1 -->
      <div class="row">
         {% for tuber in featured_youtubers %}

         <div class="col-md-4 text-center">
            <div class="tw-case-study-box" style="width: 300px;height: auto;">
               <div class="case-img study-bg-1">
                  <img src="{{ tuber.profile_photo.url }}" alt="" class="img-fluid">
               </div>
               <!-- End case img -->
               <div class="casestudy-content">
                  <a href="#">
                     <h4>{{ tuber.channel_name }}</h4>
                  </a>
                  <p>{{ tuber.category_type }}</p>

                  <a href="{% url 'influencer_details' tuber.user_id %}">
                     <p style="font-size:18px;color:black">View Details
                        <!-- influencer/services-->
                        <i class="fa fa-angle-right"></i>
                     </p>
                  </a>
               </div>
               <!-- End case study content -->
            </div>
            <!-- End case study box -->
         </div>
         {% endfor %}
         <!-- End col -->
      </div>
      <!-- End Row 2 -->
   </div>
   <!-- End Container -->
</section>
<!-- End Features section -->


<section id="tw-analysis" class="tw-analysis-area">
   <div class="analysis-bg-pattern d-none d-md-inline-block">
      <img class="wow fadeInUp" src="{% static 'images/check-seo/cloud.png' %}" alt="">
      <img class="wow fadeInUp" src="{% static 'images/check-seo/cloud2.png' %}" alt="">
      <img class="wow fadeInUp" src="{% static 'images/check-seo/announce.png' %}" alt="">
      <img class="wow fadeInUp" src="{% static 'images/check-seo/chart.png' %}" alt="">

   </div>
   <!-- End Analysis Pattern img -->
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-md-8 text-center wow fadeInDown">
            <h2 class="text-white">
               A Place Where<br />
               <span class="text-black">Influencers and Brands meet</span>
            </h2>
            <div class="analysis-form">
               <form class="form-vertical" action="{% url 'brand_signup' %}">
                  <div class="row justify-content-center">
                     <div class="col-lg-4 col-md-12 no-padding">
                        <div class="form-group">

                           <input type="submit" value="I am a Brand"></a>
                        </div>
                     </div>
               </form>

               <form class="form-vertical" action="{% url 'influencer_signup' %}">
                  {% comment %} <div class="row justify-content-center"> {% endcomment %}
                     <div class="col-lg-4 col-md-12 no-padding">
                        <div class="form-group">
                           <input type="submit" value="I am an Influencer">
                        </div>
                        {% comment %}
                     </div> {% endcomment %}
                  </div>
               </form>
               <!-- End Form -->

               <form class="form-vertical" action="{% url 'searchresultpage' %}" method="post">
                  {% csrf_token %}
                  <div class="row justify-content-center">
                     <div class="col-lg-4 col-md-12 no-padding">
                        <div class="form-group tw-form-round-shape">
                           <input style="border-radius: 50px;padding: 15px 30px;border: none;" type="text" name="influencer" placeholder="Influencer's Name"
                              class="form-control">
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-12 no-padding">
                        <div class="form-group">
                           <input  type="submit" name="search" value="Search">
                        </div>
                     </div>
                  </form>



            </div>
            <!-- End Analysis form -->
         </div>
         <!-- Col End -->
      </div>
      <!-- End Row -->
   </div>
   <!-- End container -->
</section>
<!-- End Analysis Section -->


<section id="tw-intro" class="tw-intro-area">
   <div class="tw-ellipse-pattern">
      <img src="{% static 'images/about/about_ellipse.png' %}" alt="">
   </div>
   <!-- End Ellipse Pattern -->
   <div class="container">
      <div class="row">

         <div class="col-lg-6 col-md-12 text-lg-right text-md-center wow fadeInLeft" data-wow-duration="1s">
            <img src="{% static 'images/about/about_image.png' %}" alt="" class="img-fluid">
         </div>
         <!-- End Col -->
         <div class="col-lg-5 ml-auto col-md-12 wow fadeInRight" data-wow-duration="1s">
            <h2 class="column-title">Mediating the Best Collaborations</h2>
            <span class="animate-border tw-mb-40"></span>
            <p>
               Join our community as a brand to get the most trusted and content verified influencers
               after confirming on their content analytics, audience retention, target audience, etc.
            </p>
            <p>
               Join us as an influencer to monetize your content to
               get the best collaborations from the top brands and increase your reach even further.
            </p>
            <!-- End Intro list -->

         </div>
         <!-- End Col -->
      </div>
      <!-- End Row -->
   </div>
   <!-- End Container -->
</section>
<!-- Intro section End -->

<section id="work-process" class="work-process">
   <div class="work-bg-pattern d-none d-lg-inline-block">
      <img src="{% static 'images/process/work_process.png' %}" alt="" class="img-fluid wow fadeInLeft"
         data-wow-duration="1s" data-wow-delay="1.2s">
   </div>
   <!-- End Work BG Pattern -->
   <div class="container">
      <div class="row text-center">
         <div class="col section-heading wow fadeInDown" data-wow-duration="1s">
            <h2>
               <small>ease steps</small>Our Working <span>Process</span>
            </h2>
            <span class="animate-border ml-auto mr-auto tw-mt-20"></span>
         </div>
         <!-- End Col -->
      </div>
      <!-- End Row -->
      <div class="row">
         <div class="col-md-3">
            <div class="tw-work-process">
               <div class="process-wrapper d-table wow zoomIn" data-wow-duration="1s" data-wow-delay=".2s">
                  <div class="process-inner d-table-cell">
                     <img src="{% static 'images/icon/process1.png' %}" alt="" class="img-fluid">
                  </div>
               </div>
               <!-- End process wrapper -->
               <p>01. Create Profile</p>
            </div>
            <!-- End Tw work process -->
         </div>
         <!-- End Col -->
         <div class="col-md-3">
            <div class="tw-work-process">
               <div class="process-wrapper bg-orange d-table wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                  <div class="process-inner d-table-cell">
                     <img src="{% static 'images/icon/process2.png' %}" alt="" class="img-fluid">
                  </div>
               </div>
               <!-- End Process Wrapper -->
               <p>02. Find Influencer/Brand</p>
            </div>
            <!-- End Word Process -->
         </div>
         <!-- End Col -->
         <div class="col-md-3">
            <div class="tw-work-process">
               <div class="process-wrapper bg-blue d-table wow zoomIn" data-wow-duration="1s" data-wow-delay=".6s">
                  <div class="process-inner d-table-cell">
                     <img src="{% static 'images/icon/process4.png' %}" alt="" class="img-fluid">
                  </div>
               </div>
               <!-- End Process Wrapper -->
               <p>03. View Insights</p>
            </div>
            <!-- End Work Process -->
         </div>
         <!-- End Col -->
         <div class="col-md-3">
            <div class="tw-work-process">
               <div class="process-wrapper bg-yellow d-table wow zoomIn" data-wow-duration="1s" data-wow-delay=".8s">
                  <div class="process-inner d-table-cell">
                     <img src="{% static 'images/icon/process3.png' %}" alt="" class="img-fluid">
                  </div>
               </div>
               <!-- End PRocess Wrapper -->
               <p>04. Collaborate</p>
            </div>
            <!-- End Work Process -->
         </div>
         <!-- End Col -->
         <div class="col-md-12 text-center wow zoomIn" data-wow-duration="1s" data-wow-delay="1.2s"><a
               href="{% url 'login_page' %}" class="btn btn-primary tw-mt-80">Get Started</a>
         </div>
      </div>
      <!-- End Row -->
   </div>
   <!-- End Container -->
</section>
<!-- End Word Process -->


<!-- Facts End -->


<section id="tw-service" class="tw-service">
   <div class="container">
      <div class="row text-center">
         <div class="col section-heading wow fadeInDown">
            <h2>
               <small>Our services</small>
               Our Best
               <span>Services</span>
            </h2>
            <span class="animate-border ml-auto mr-auto tw-mt-20"></span>
         </div>
         <!-- Title Col End -->
      </div>
      <!-- Title Row End -->
      <div class="row">
         <div class="col-md-4 text-center">
            <div class="tw-service-box wow zoomIn" data-wow-duration="1s" data-wow-delay=".2s">
               <div class="service-icon service-icon-bg-1 d-table">
                  <div class="service-icon-inner d-table-cell">
                     <img src="{% static 'images/icon/service1.png' %}" alt="search engine" class="img-fluid">
                  </div>
               </div>
               <!-- Service icon end -->
               <div class="service-content">
                  <h3>Content Optimization</h3>
                  <p>Get the list of top influencers having maximum reach within
                     the past time with their content.Content is presented in a simple and user-friendly manner</p>

               </div>
               <!-- Service Content end -->
            </div>
            <!-- Service box end -->
         </div>
         <!-- Col End -->
         <div class="col-md-4 text-center">
            <div class="tw-service-box wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
               <div class="service-icon service-icon-bg-2 d-table">
                  <div class="service-icon-inner d-table-cell">
                     <img src="{% static 'images/icon/service5.png' %}" alt="search engine" class="img-fluid">
                  </div>
               </div>
               <!-- Service icon end -->
               <div class="service-content">
                  <h3>Creator Analytics</h3>
                  <p>The detailed content analysis of the influencer showing the audience retention,
                     target audience, their niche, and the specified content category.</p>

               </div>

               <!-- Service content end -->
            </div>
            <!-- Service box End -->
         </div>
         <!-- Col End -->
         <div class="col-md-4 text-center">
            <div class="tw-service-box wow zoomIn" data-wow-duration="1s" data-wow-delay=".6s">
               <div class="service-icon service-icon-bg-3 d-table">
                  <div class="service-icon-inner d-table-cell">
                     <img src="{% static 'images/icon/service3.png' %}" alt="search engine" class="img-fluid">
                  </div>
               </div>
               <!-- Service Icon End -->
               <div class="service-content">
                  <h3>Data Analysis</h3>
                  <p> Displaying the stats of the recent most videos
                     with their analysis such as its reach, number of views, likes, comments, shares, saves, etc.</p>


               </div>
               <!-- Service content end -->
            </div>
            <!-- Service box End -->
         </div>
         <!-- Col end -->
      </div>
      <!-- Row end -->

   </div>
   <!-- container -->
</section>
<!-- Tw Service End -->







{% endblock %}