{% extends "basefile.html" %}
{% load static %}
{% block content %}


<!-- Start hero slider/ Owl Carousel Slider -->
<div class="tw-hero-slider owl-carousel">

   <div class="slider-1">
      <!-- Slider arrow end -->
      <div class="slider-wrapper d-table">
         <div class="slider-inner d-table-cell">
            <div class="container">
               <div class="row justify-content-center">
                  <div class="col-md-6">
                     <img src="{% static 'images/slider/slider3.png' %}" alt="" class="img-fluid slider-img">
                  </div>
                  <!-- Col end -->
                  <div class="col-md-6">
                     <div class="slider-content">
                        <h1>What is <span>Influencer Mediator</span></h1>
                        <p>Influencer Mediator is an online platform that enables brands to
                            analyse and visualise the performance of different digital media 
                            content creators to produce perfect and apt collaborations.</p>
                        
                     </div>
                     <!-- End Slider Content -->
                  </div>
                  <!-- col end -->
               </div>
               <!-- Row End -->
            </div>
            <!-- COntainer End -->
         </div>
         <!-- Slider Inner End -->
      </div>
      <!-- Slider Wrapper End -->
   </div>
   <!-- Slider 1 end -->


   <div class="slider-2">
      <div class="slider-arrow">
         <img src="{% static 'images/slider/pattern_arrow2.png' %}" alt="sliderArrow1">
         <img src="{% static 'images/slider/pattern_arrow1.png' %}" alt="sliderArrow2">
         <img src="{% static 'images/slider/pattern_arrow3.png' %}" alt="sliderArrow3">
      </div>
      <div class="slider-wrapper d-table">
         <div class="slider-inner d-table-cell">
            <div class="container">
               <div class="row justify-content-center">
                  <div class="col-md-6">
                     <div class="slider-content">
                        <h1>Creating 
                           <span>Collaborations</span> 
                        </h1>
                        <p>Robust and dynamic, our content creator marketplace is designed 
                           to connect influencers from different channels and media with 
                           various brands in order to deliver brand messages and drive conversions. 
                           </p>
                        
                     </div>
                  </div>
                  <!-- Col end -->
                  <div class="col-md-6">
                     <img src="{% static 'images/slider/slider2.png' %}" alt="" class="img-fluid slider-img">
                  </div>
                  <!-- col end -->
               </div>
               <!-- Row End -->
            </div>
            <!-- Container End -->
         </div>
         <!-- Slider Inner End -->
      </div>
      <!-- Slider Wrapper End -->
   </div>
   <!-- Slider 2 end -->


   <div class="slider-3">
      <div class="slider-arrow">
         <img src="{% static 'images/slider/pattern_arrow2.png' %}" alt="sliderArrow1">
         <img src="{% static 'images/slider/pattern_arrow1.png' %}" alt="sliderArrow2">
         <img src="{% static 'images/slider/pattern_arrow3.png' %}" alt="sliderArrow3">
      </div>
      <div class="slider-wrapper d-table">
         <div class="slider-inner d-table-cell">
            <div class="container">
               <div class="row justify-content-center">
                  <div class="col-md-6">
                     <img src="{% static 'images/slider/slider1.png' %}" alt="" class="img-fluid slider-img">
                  </div>
                  <!-- Col end -->

                  <div class="col-md-6">
                     <div class="slider-content">
                        <h1>
                           <span>Data Analytics</span><br /> at one click
                        </h1>
                        <p>Start working with a company that helps brands meet 
                           their perfect influencer only after verifying all
                            the content data analysis at our platform.</p>
                        
                     </div>
                     <!-- End Slider Content -->
                  </div>
                  <!-- col end -->
               </div>
               <!-- Row End -->
            </div>
            <!-- COntainer End -->
         </div>
         <!-- Slider Inner End -->
      </div>
      <!-- Slider Wrapper End -->
   </div>
   <!-- Slider 3 end -->
</div>
<!-- End Carousel -->


<section id="tw-features" class="tw-features-area">
   <div class="container">
      <div class="row tw-mb-65">
         <div class="col-md-4 wow fadeInLeft" data-wow-duration="1s">
            <h2 class="column-title text-md-right text-sm-center">Connecting<br /> Influencers & Brands</h2>
         </div>
         <!-- Col End -->
         <div class="col-md-7 ml-md-auto wow fadeInRight" data-wow-duration="1s">
            <p class="features-text">At Influencer Mediator, we believe that socially 
               distributed visual content is the future of advertising. 
               This platform allows brands to analyse and measure their
                marketing effort and engage influencer to create content.
            </p>
         </div>
         <!-- Col End -->
      </div>
      <!-- End Row 1 -->
      <div class="row">
         <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="features-box">
               <div class="features-icon d-table">
                  <div class="features-icon-inner d-table-cell">
                     <img src="{% static 'images/icon/user1.png' %}" alt="">
                  </div>
                  <!-- End Features icon inner -->
               </div>
               <!-- End Features Icon -->
               <h3>Create Profile</h3>
               <p>Join us as an influencer. 
                  Include your channels, niche, target audience, interests, etc.
               </p> 
               <a href="#" class="tw-readmore">Read More <!-- login/signup-->
                  <i class="fa fa-angle-right"></i>
               </a>
            </div>
            <!-- End Single Features -->
         </div>
         <!-- Col End -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".4s">
            <div class="features-box">
               <div class="features-icon d-table">
                  <div class="features-icon-inner d-table-cell">
                     <img src="{% static 'images/icon/brands1.png' %}" alt="">
                  </div>
                  <!-- End Features Icon inner -->
               </div>
               <!-- End Features Icon -->
               <h3>Brands come to you</h3>
               <p>Brands can reach out to your
                   profile as per their requirements after verifying and analyzing your content.
               </p>
               <a href="#" class="tw-readmore">Read More <!-- brands display-->
                  <i class="fa fa-angle-right"></i>
               </a>
            </div>
            <!-- End Single Features -->
         </div>
         <!-- end col -->
         <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.9s" data-wow-delay=".6s">
            <div class="features-box">
               <div class="features-icon d-table">
                  <div class="features-icon-inner d-table-cell">
                     <img src="{% static 'images/icon/handshake1.png' %}" alt="">
                  </div>
                  <!-- End Features Icon inner -->
               </div>
               <!-- End Features Icon -->
               <h3>Collaborate</h3>
               <p>Use Influencer Mediator to keep track of invitations, 
                  relationships and more in one single platform.
               </p>
               <a href="#" class="tw-readmore">Read More <!-- influencer/services-->
                  <i class="fa fa-angle-right"></i>
               </a>
            </div>
            <!-- End Single Features -->
         </div>
         <!-- End col -->
      </div>
      <!-- End Row 2 -->
   </div>
   <!-- End Container -->
</section>
<!-- End Features section -->


<section id="tw-analysis" class="tw-analysis-area">
   <div class="analysis-bg-pattern d-none d-md-inline-block">
      <img class="wow fadeInUp" src="{% static 'images/check-seo/cloud.png' %}" alt="">
      <img class="wow fadeInUp" src="{% static 'images/check-seo/cloud2.png' %}" alt="">
      <img class="wow fadeInUp" src="{% static 'images/check-seo/announce.png' %}" alt="">
      <img class="wow fadeInUp" src="{% static 'images/check-seo/chart.png' %}" alt="">
      
   </div>
   <!-- End Analysis Pattern img -->
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-md-8 text-center wow fadeInDown">
            <h2 class="text-white">
              A Place Where<br />
               <span class="text-black">Influencers and Brands meet</span>
            </h2>
            <div class="analysis-form">
               <form class="form-vertical" action="{% url 'brand_signup' %}">
                  <div class="row justify-content-center">
                     <div class="col-lg-4 col-md-12 no-padding">
                        <div class="form-group">
                           
                            <input type="submit"value="I am a Brand"></a>
                        </div>
                     </div>
                  </form>
                     
                  <form class="form-vertical" action="{% url 'influencer_signup' %}">
                     {% comment %} <div class="row justify-content-center"> {% endcomment %}
                     <div class="col-lg-4 col-md-12 no-padding">
                        <div class="form-group">
                           <input type="submit" value="I am an Influencer">
                        </div>
                     {% comment %} </div> {% endcomment %}
                  </div>
               </form>
               <!-- End Form -->
            </div>
            <!-- End Analysis form -->
         </div>
         <!-- Col End -->
      </div>
      <!-- End Row -->
   </div>
   <!-- End container -->
</section>
<!-- End Analysis Section -->


<section id="tw-intro" class="tw-intro-area">
   <div class="tw-ellipse-pattern">
      <img src="{% static 'images/about/about_ellipse.png' %}" alt="">
   </div>
   <!-- End Ellipse Pattern -->
   <div class="container">
      <div class="row">

         <div class="col-lg-6 col-md-12 text-lg-right text-md-center wow fadeInLeft" data-wow-duration="1s">
            <img src="{% static 'images/about/about_image.png' %}" alt="" class="img-fluid">
         </div>
         <!-- End Col -->
         <div class="col-lg-5 ml-auto col-md-12 wow fadeInRight" data-wow-duration="1s">
            <h2 class="column-title">Mediating the Best Collaborations</h2>
            <span class="animate-border tw-mb-40"></span>
            <p>
               Join our community as a brand to get the most trusted and content verified influencers
                after confirming on their content analytics, audience retention, target audience, etc.
            </p>
            <p>
               Join us as an influencer to monetize your content to
                get the best collaborations from the top brands and increase your reach even further.
            </p>
            <!-- End Intro list -->
            {% comment %} <a href="#" class="btn btn-primary">learn more</a>
            <!-- Default Round Btn -->
            <a href="#" class="btn btn-secondary">contact us</a> {% endcomment %}
         </div>
         <!-- End Col -->
      </div>
      <!-- End Row -->
   </div>
   <!-- End Container -->
</section>
<!-- Intro section End -->

<section id="work-process" class="work-process">
   <div class="work-bg-pattern d-none d-lg-inline-block">
      <img src="{% static 'images/process/work_process.png' %}" alt="" class="img-fluid wow fadeInLeft"
         data-wow-duration="1s" data-wow-delay="1.2s">
   </div>
   <!-- End Work BG Pattern -->
   <div class="container">
      <div class="row text-center">
         <div class="col section-heading wow fadeInDown" data-wow-duration="1s">
            <h2>
               <small>ease steps</small>Our Working <span>Process</span>
            </h2>
            <span class="animate-border ml-auto mr-auto tw-mt-20"></span>
         </div>
         <!-- End Col -->
      </div>
      <!-- End Row -->
      <div class="row">
         <div class="col-md-3">
            <div class="tw-work-process">
               <div class="process-wrapper d-table wow zoomIn" data-wow-duration="1s" data-wow-delay=".2s">
                  <div class="process-inner d-table-cell">
                     <img src="{% static 'images/icon/process1.png' %}" alt="" class="img-fluid">
                  </div>
               </div>
               <!-- End process wrapper -->
               <p>01. Create Profile</p>
            </div>
            <!-- End Tw work process -->
         </div>
         <!-- End Col -->
         <div class="col-md-3">
            <div class="tw-work-process">
               <div class="process-wrapper bg-orange d-table wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                  <div class="process-inner d-table-cell">
                     <img src="{% static 'images/icon/process2.png' %}" alt="" class="img-fluid">
                  </div>
               </div>
               <!-- End Process Wrapper -->
               <p>02. Find Influencer/Brand</p>
            </div>
            <!-- End Word Process -->
         </div>
         <!-- End Col -->
         <div class="col-md-3">
            <div class="tw-work-process">
               <div class="process-wrapper bg-blue d-table wow zoomIn" data-wow-duration="1s" data-wow-delay=".6s">
                  <div class="process-inner d-table-cell">
                     <img src="{% static 'images/icon/process4.png' %}" alt="" class="img-fluid">
                  </div>
               </div>
               <!-- End Process Wrapper -->
               <p>03. View Insights</p>
            </div>
            <!-- End Work Process -->
         </div>
         <!-- End Col -->
         <div class="col-md-3">
            <div class="tw-work-process">
               <div class="process-wrapper bg-yellow d-table wow zoomIn" data-wow-duration="1s" data-wow-delay=".8s">
                  <div class="process-inner d-table-cell">
                     <img src="{% static 'images/icon/process3.png' %}" alt="" class="img-fluid">
                  </div>
               </div>
               <!-- End PRocess Wrapper -->
               <p>04. Collaborate</p>
            </div>
            <!-- End Work Process -->
         </div>
         <!-- End Col -->
         <div class="col-md-12 text-center wow zoomIn" data-wow-duration="1s" data-wow-delay="1.2s"><a href="{% url 'login' %}"
               class="btn btn-primary tw-mt-80">Get Started</a>
         </div>
      </div>
      <!-- End Row -->
   </div>
   <!-- End Container -->
</section>
<!-- End Word Process -->

{% comment %} <section id="tw-facts" class="tw-facts">
   <div class="container">
      <div class="row">
         <div class="col-md-3 text-center">
            <div class="tw-facts-box">
               {% comment %} <div class="facts-img wow zoomIn" data-wow-duration="1s">
                  <img src="{% static 'images/icon/fact1.png' %}" alt="" class="img-fluid" >
               </div> {% endcomment %}
               <!-- End Fatcs image -->
               {% comment %} <div class="facts-content wow fadeInUp" data-wow-duration="1s">
                  <h4 class="facts-title">Active Influencers</h4>
                  <span class="counter">100</span>
                  <sup>+</sup>
               </div> {% endcomment %}
               <!-- Facts Content End -->
            </div>
            <!-- Facts Box End -->
         </div>
         <!-- Col End -->
         {% comment %} <div class="col-md-3 text-center">
            <div class="tw-facts-box">
               <div class="facts-img wow zoomIn">
                  <img src="{% static 'images/icon/fact1.png' %}" alt="" class="img-fluid">
               </div>
               <!-- End Facts Image -->
               <div class="facts-content wow slideInUp">
                  <h4 class="facts-title">Active Influencers</h4>
                  <span class="counter">100</span>
                  <sup>+</sup>
               </div>
               <!-- End Facts Content -->
            </div>
            <!-- End Facts Box -->
         </div>
         <!-- Col End -->
          <div class="col-md-3 text-center">
            <div class="tw-facts-box">
               <div class="facts-img wow zoomIn">
                  <img src="{% static 'images/icon/fact2.png' %}" alt="" class="img-fluid">
               </div>
               <!-- End Facts Image -->
               <div class="facts-content wow slideInUp">
                  <h4 class="facts-title">Active Brands</h4>
                  <span class="counter">25</span>
                  <sup>+</sup>
               </div> {% endcomment %}
               <!-- End Facts Content -->
            </div>
            <!-- End Facts Box -->
         </div>
         <!-- Col End -->
         {% comment %} <div class="col-md-3 text-center">
            <div class="tw-facts-box">
               <div class="facts-img wow zoomIn">
                  <img src="{% static 'images/icon/fact4.png' %}" alt="" class="img-fluid">
               </div>
               <!-- End Facts Image -->
               <div class="facts-content wow slideInUp">
                  <h4 class="facts-title">Awards</h4>
                  <span class="counter">50</span>
                  <sup>+</sup>
               </div>
               <!-- End Facts Content -->
            </div> 
            <!-- End Facts Box -->
         </div>{% endcomment %}
         <!-- Col End -->
      </div>
      <!-- Row End -->
   </div>
   <!-- Container End -->
{% comment %} </section>  {% endcomment %}
<!-- Facts End -->


<section id="tw-service" class="tw-service">
   <div class="container">
      <div class="row text-center">
         <div class="col section-heading wow fadeInDown">
            <h2>
               <small>Our services</small>
               Our Best
               <span>Services</span>
            </h2>
            <span class="animate-border ml-auto mr-auto tw-mt-20"></span>
         </div>
         <!-- Title Col End -->
      </div>
      <!-- Title Row End -->
      <div class="row">
         <div class="col-md-4 text-center">
            <div class="tw-service-box wow zoomIn" data-wow-duration="1s" data-wow-delay=".2s">
               <div class="service-icon service-icon-bg-1 d-table">
                  <div class="service-icon-inner d-table-cell">
                     <img src="{% static 'images/icon/service1.png' %}" alt="search engine" class="img-fluid">
                  </div>
               </div>
               <!-- Service icon end -->
               <div class="service-content">
                  <h3>Content Optimization</h3>
                  <p>Get the list of top influencers having maximum reach within 
                     the past time with their content.Content is presented in a simple and user-friendly manner</p>
                  
               </div>
               <!-- Service Content end -->
            </div>
            <!-- Service box end -->
         </div>
         <!-- Col End -->
         <div class="col-md-4 text-center">
            <div class="tw-service-box wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
               <div class="service-icon service-icon-bg-2 d-table">
                  <div class="service-icon-inner d-table-cell">
                     <img src="{% static 'images/icon/service5.png' %}" alt="search engine" class="img-fluid">
                  </div>
               </div>
               <!-- Service icon end -->
               <div class="service-content">
                  <h3>Creator Analytics</h3>
                  <p>The detailed content analysis of the influencer showing the audience retention,
                      target audience, their niche, and the specified content category.</p>
                  
               </div>
               <div class="col-md-12 text-center wow zoomIn" data-wow-duration="1s" data-wow-delay="1.2s"><a href="{% url 'service' %}"
                  class="btn btn-primary tw-mt-80">View All</a>
            </div> 
               <!-- Service content end -->
            </div>
            <!-- Service box End -->
         </div>
         <!-- Col End -->
          <div class="col-md-4 text-center">
            <div class="tw-service-box wow zoomIn" data-wow-duration="1s" data-wow-delay=".6s">
               <div class="service-icon service-icon-bg-3 d-table">
                  <div class="service-icon-inner d-table-cell">
                     <img src="{% static 'images/icon/service3.png' %}" alt="search engine" class="img-fluid">
                  </div>
               </div>
               <!-- Service Icon End -->
               <div class="service-content">
                  <h3>Data Analysis</h3>
                  <p> Displaying the stats of the recent most videos
                      with their analysis such as its reach, number of views, likes, comments, shares, saves, etc.</p>
                  
                  
               </div>
               <!-- Service content end -->
            </div>
            <!-- Service box End -->
         </div>
         <!-- Col end -->
      </div>
      <!-- Row end -->
     {% comment %} <div class="tw-mb-60"></div> {% endcomment %}
      {% comment %} <div class="row">
         <div class="col-md-4 text-center">
            <div class="tw-service-box wow zoomIn" data-wow-duration="1s" data-wow-delay=".2s">
               <div class="service-icon service-icon-bg-4 d-table">
                  <div class="service-icon-inner d-table-cell">
                     <img src="{% static 'images/icon/service4.png' %}" alt="search engine" class="img-fluid">
                  </div>
               </div>
               <!-- Service icon end -->
               <div class="service-content">
                  <h3>Creators Channel</h3>
                  <p> Just one tap away from personally viewing and visualizing the inflluencer's content.</p>
                  
               </div>
               <!-- Service content end -->
            </div>
            <!-- Service Box end -->
         </div>
         <!-- Col end -->
         <div class="col-md-4 text-center">
            <div class="tw-service-box wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
               <div class="service-icon service-icon-bg-5 d-table">
                  <div class="service-icon-inner d-table-cell">
                     <img src="{% static 'images/icon/service2.png' %}" alt="search engine" class="img-fluid">
                  </div>
               </div>
               <!-- Service icon end -->
               <div class="service-content">
                  <h3>Personalized Recommendations</h3>
                  <p>Contact us if you want a specified niche or category based brand or influencer.</p>
                 
               </div> 
               
               <!-- Service content end -->
            </div>
            <!-- Service box end -->
         </div>
         <!-- Row End -->
          <div class="col-md-4 text-center">
            <div class="tw-service-box wow zoomIn" data-wow-duration="1s" data-wow-delay=".6s">
               <div class="service-icon service-icon-bg-6 d-table">
                  <div class="service-icon-inner d-table-cell">
                     <img src="{% static 'images/icon/service6.png' %}" alt="search engine" class="img-fluid">
                  </div>
               </div>
               <!-- Service Icon end-->
               <div class="service-content">
                  <h3>Successful Collaborations</h3>
                  <p>Get the count of verified successful collaborations to gain the trust of brands as well as influencers.</p>
                  
               </div>
               <!-- Service Content end -->
            </div>
            <!-- Service box end-->
         </div>
         <!-- Col end -->
      </div>
      <!-- Row End -->   {% endcomment %}
   </div> 
   <!-- container -->
</section>
<!-- Tw Service End -->


{% comment %}  <section id="tw-case" class="tw-case">
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="features-box">
               <div class="features-icon d-table">
                  <div class="features-icon-inner d-table-cell">
                     <img src="{% static 'images/icon/user1.png' %}" alt="">
                  </div> {% endcomment %}
                  <!-- End Features icon inner -->
               </div>
               <!-- End Features Icon -->
               {% comment %} <h3>We are transparent</h3>
               <p>Transparent and open communication in combination with our data-driven
                   software provides full analytical and operational campaign support brands are looking for
               </p>  {% endcomment %}
               {% comment %} <a href="#" class="tw-readmore">Read More <!-- login/signup-->
                  <i class="fa fa-angle-right"></i>
               </a> {% endcomment %}
            </div>
            <!-- End Single Features -->
         </div>
         <!-- Col End -->
         {% comment %} <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".4s">
            <div class="features-box">
               <div class="features-icon d-table">
                  <div class="features-icon-inner d-table-cell">
                     <img src="{% static 'images/icon/handshake1.png' %}" alt="">
                  </div> {% endcomment %}
                  <!-- End Features Icon inner -->
               </div>
               <!-- End Features Icon -->
               {% comment %} <h3>We are innovative</h3>
               <p>We exist to challenge the status quo
                   - we think different, act fast and are always open to new ideas and feedback.
               </p> {% endcomment %}
               {% comment %} <a href="#" class="tw-readmore">Read More <!-- influencer/services-->
                  <i class="fa fa-angle-right"></i>
               </a> {% endcomment %}
            </div>
            <!-- End Single Features -->
         </div>
         <!-- end col -->
         {% comment %} <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.9s" data-wow-delay=".6s">
            <div class="features-box">
               <div class="features-icon d-table">
                  <div class="features-icon-inner d-table-cell">
                     <img src="{% static 'images/icon/handshake1.png' %}" alt="">
                  </div> {% endcomment %}
                  <!-- End Features Icon inner -->
               </div>
               <!-- End Features Icon -->
               {% comment %} <h3>We always want to be better</h3>
               <p>We hold ourselves to the highest standards, 
                  expecting 100% from our teams and creating unforgettable, unique experiences for our customers.
               </p> {% endcomment %}
               {% comment %} <a href="#" class="tw-readmore">Read More <!-- influencer/services-->
                  <i class="fa fa-angle-right"></i>
               </a> {% endcomment %}
            </div>
            <!-- End Single Features -->
         </div>
         <!-- End col -->
      </div>
      <!-- End Row 2 -->
      {% comment %} <div class="row">
         <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="features-box">
               <div class="features-icon d-table">
                  <div class="features-icon-inner d-table-cell">
                     <img src="{% static 'images/icon/user1.png' %}" alt="">
                  </div> {% endcomment %}
                  <!-- End Features icon inner -->
               </div>
               <!-- End Features Icon -->
               {% comment %} <h3>We are responsible</h3>
               <p>We always stay reliable and take responsibility.
               </p>  {% endcomment %}
               {% comment %} <a href="#" class="tw-readmore">Read More <!-- login/signup-->
                  <i class="fa fa-angle-right"></i>
               </a> {% endcomment %}
            </div>
            <!-- End Single Features -->
         </div> <br />
         <!-- Col End -->
         {% comment %} <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".4s">
            <div class="features-box">
               <div class="features-icon d-table">
                  <div class="features-icon-inner d-table-cell">
                     <img src="{% static 'images/icon/handshake1.png' %}" alt="">
                  </div> {% endcomment %}
                  <!-- End Features Icon inner -->
               </div>
               <!-- End Features Icon -->
               {% comment %} <h3>We stick together</h3>
               <p>We build relationships and value long-term cooperation through openness and team spirit.
               </p> {% endcomment %}
               {% comment %} <a href="#" class="tw-readmore">Read More <!-- influencer/services-->
                  <i class="fa fa-angle-right"></i>
               </a> {% endcomment %}
            </div>
            <!-- End Single Features -->
         </div>
         <!-- end col -->
         {% comment %} <div class="col-lg-4 col-md-12  wow fadeInUp" data-wow-duration="1.9s" data-wow-delay=".6s">
            <div class="features-box">
               <div class="features-icon d-table">
                  <div class="features-icon-inner d-table-cell">
                     <img src="{% static 'images/icon/handshake1.png' %}" alt="">
                  </div> {% endcomment %}
                  <!-- End Features Icon inner -->
               </div>
               <!-- End Features Icon -->
               {% comment %} <h3>We are human</h3>
               <p>We treat people the same way we want to be treated -
                   respectfully, conscientiously, and trustingly.
               </p> {% endcomment %}
               {% comment %} <a href="#" class="tw-readmore">Read More <!-- influencer/services-->
                  <i class="fa fa-angle-right"></i>
               </a> {% endcomment %}
            </div>
            <!-- End Single Features -->
         </div>
         <!-- End col -->
      </div>
      
      
      </div>
      <!-- End Row -->
   </div>
   <!-- Container End -->
{% comment %} </section> {% endcomment %}
<!-- TW case end -->


{% comment %} <section id="tw-testimonial" class="tw-testimonial">
   <div class="container">
      <div class="row align-items-center justify-content-center">
         <div class="col-md-6 wow fadeInLeft" data-wow-duration="1s">
            <div class="tw-testimonial-content text-center">
               <h2 class="section-title">Love From Clients</h2>
               <span class="animate-border border-green tw-mt-20 tw-mb-40 ml-auto mr-auto"></span>
            </div>
            <div class="tw-testimonial-carousel owl-carousel">
               <div class="tw-testimonial-wrapper">
                  <div class="testimonial-bg testimonial-bg-orange">
                     <div class="testimonial-icon">
                        <img src="{% static 'images/icon-image/testimonial1.png' %}" alt="" class="img-fluid">
                     </div>
                  </div>
                  <!-- End Testimonial bg -->
                  <div class="testimonial-text">
                     <p>As a model / influencer I've been working with StarNgage 
                        for many years now. Their platform for influencer partnerships
                         is the best designed engine that I've seen so far, I really 
                         appreciate the level of equality & fairness which 
                         it mirrors to favor both influencer and brand.</p>
                     <div class="testimonial-meta">
                        <h4>
                           Jason Stattham
                           <small>CEO Microhost</small>
                        </h4>
                        <i class="icon icon-quote2"></i>
                     </div>
                     <!-- End Testimonial Meta -->
                  </div>
                  <!-- End testimonial text -->
               </div>
               <!-- End Tw testimonial wrapper -->
               <div class="tw-testimonial-wrapper">
                  <div class="testimonial-bg testimonial-bg-orange">
                     <div class="testimonial-icon">
                        <img src="{% static 'images/icon-image/testimonial1.png' %}" alt="" class="img-fluid">
                     </div>
                  </div>
                  <!-- End Testimonial bg -->
                  <div class="testimonial-text">
                     <p>Very simply smooth operations, great customer 
                        service which is always professional & timely in their 
                        responses. Have worked with some great brands, and I'm 
                        looking forward to our future collaborations!</p>
                     <div class="testimonial-meta">
                        <h4>
                           Jason Stattham
                           <small>CEO Microhost</small>
                        </h4>
                        <i class="icon icon-quote2"></i>
                     </div>
                     <!-- End Testimonial meta -->
                  </div>
                  <!-- End Testimonial Text -->
               </div>
               <!-- End Tw testimonial wrapper -->
               <div class="tw-testimonial-wrapper">
                  <div class="testimonial-bg testimonial-bg-orange">
                     <div class="testimonial-icon">
                        <img src="{% static 'images/icon-image/testimonial1.png' %}" alt="" class="img-fluid">
                     </div>
                  </div>
                  <!-- end testimonial bg -->
                  <div class="testimonial-text">
                     <p>Start working with an company that can do provide every thing at you need to generate
                        awareness,
                        drive traffic, connect with</p>
                     <div class="testimonial-meta">
                        <h4>
                           Jason Stattham
                           <small>CEO Microhost</small>
                        </h4>
                        <i class="icon icon-quote2"></i>
                     </div>
                     <!-- End testimonial meta -->
                  </div>
                  <!-- End testimonial text -->
               </div>
               <!-- End tw testimonial wrapper -->
            </div>
            <!-- End Tw testimonial carousel -->
         </div>
         <!-- End Col -->
      </div>
      <!-- End Row -->
   </div>
   <!-- End Container -->
</section>
<!-- End TW testimonial -->

<section id="tw-pricing" class="tw-pricing">
   <div class="container">
      <div class="row text-center">
         <div class="col section-heading wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
            <h2>
               <small>Pricing Table</small>
               Our <span>Pricing</span>
            </h2>
            <span class="animate-border ml-auto mr-auto tw-mt-20"></span>
         </div>
         <!-- End Col -->
      </div>
      <!-- End Section Heading Row -->
      <div class="row">
         <div class="col-md-12">
            <div class="pricing-tab">
               <ul class="nav">
                  <li class="nav-item wow fadeInLeft" data-wow-duration="1s">
                     <a data-toggle="tab" href="#monthly" class="active">Monthly</a>
                  </li>
                  <li class="nav-item wow fadeInRight" data-wow-duration="1s">
                     <a data-toggle="tab" href="#yearly">Yearly</a>
                  </li>
               </ul>
               <!-- Nav Tabs ends -->
               <div class="tab-content tw-tab-content">
                  <div class="tab-pane show active" id="monthly">
                     <div class="row animated fadeIn">
                        <div class="col-md-4 animated fadeIn">
                           <div class="tw-pricing-box border-left-radius">
                              <div class="price-icon-bg">
                                 <div class="price-icon">
                                    <img src="{% static 'images/pricing/pricing_icon1.png' %}" alt="" class="img-fluid">
                                 </div>
                              </div>
                              <!-- End Pricing icon bg -->
                              <div class="pricing-feaures">
                                 <h3>Entrepreneur</h3>
                                 <ul>
                                    <li>25 Analytics Compaign</li>
                                    <li>1,300 Keywords</li>
                                    <li>25 social media reviews</li>
                                    <li>1 Free Optimization</li>
                                 </ul>
                              </div>
                              <!-- Pricing Features End -->
                              <div class="pricing-price">
                                 <sup>$</sup>
                                 <strong>9</strong>
                                 <small>Month</small>
                              </div>
                              <!-- Pricing End -->
                              <a href="" class="btn btn-dark">buy now</a>

                           </div>
                           <!--  pricing box ends -->
                        </div>
                        <!-- COl end -->
                        <div class="col-md-4 animated fadeIn">
                           <div class="tw-pricing-box pricing-featured">
                              <div class="price-icon-bg">
                                 <div class="price-icon">
                                    <img src="{% static 'images/pricing/pricing_icon2.png' %}" alt="" class="img-fluid">
                                 </div>
                              </div>
                              <!-- End Pricing icon bg -->
                              <div class="pricing-feaures">
                                 <h3>Growing Business</h3>
                                 <ul>
                                    <li>25 Analytics Compaign</li>
                                    <li>1,300 Keywords</li>
                                    <li>25 social media reviews</li>
                                    <li>1 Free Optimization</li>
                                    <li>24/7 support</li>
                                 </ul>
                              </div>
                              <!-- Pricing Features End -->
                              <div class="pricing-price">
                                 <sup>$</sup>
                                 <strong>29</strong>
                                 <small>Month</small>
                              </div>
                              <!-- Pricing End -->
                              <a href="" class="btn btn-dark">buy now</a>

                           </div>
                           <!--  pricing box ends -->
                        </div>
                        <!-- COl end -->
                        <div class="col-md-4 animated fadeIn">
                           <div class="tw-pricing-box border-right-radius">
                              <div class="price-icon-bg">
                                 <div class="price-icon">
                                    <img src="{% static 'images/pricing/pricing_icon3.png' %}" alt="" class="img-fluid">
                                 </div>
                              </div>
                              <!-- End Pricing icon bg -->
                              <div class="pricing-feaures">
                                 <h3>Pro Business</h3>
                                 <ul>
                                    <li>25 Analytics Compaign</li>
                                    <li>1,300 Keywords</li>
                                    <li>25 social media reviews</li>
                                    <li>1 Free Optimization</li>
                                 </ul>
                              </div>
                              <!-- Pricing Features End -->
                              <div class="pricing-price">
                                 <sup>$</sup>
                                 <strong>49</strong>
                                 <small>Month</small>
                              </div>
                              <!-- Pricing End -->
                              <a href="" class="btn btn-dark">buy now</a>

                           </div>
                           <!--  pricing box ends -->
                        </div>
                        <!-- COl end -->
                     </div>
                     <!-- Tab pane end -->
                  </div>
                  <!-- Tab Content End -->
                  <div class="tab-pane show fade" id="yearly">
                     <div class="row">
                        <div class="col-md-4 animated fadeIn">
                           <div class="tw-pricing-box">
                              <div class="price-icon-bg">
                                 <div class="price-icon">
                                    <img src="{% static 'images/pricing/pricing_icon1.png' %}" alt="" class="img-fluid">
                                 </div>
                              </div>
                              <!-- End Pricing icon bg -->
                              <div class="pricing-feaures">
                                 <h3>Entrepreneur</h3>
                                 <ul>
                                    <li>25 Analytics Compaign</li>
                                    <li>1,300 Keywords</li>
                                    <li>25 social media reviews</li>
                                    <li>1 Free Optimization</li>
                                 </ul>
                              </div>
                              <!-- Pricing Features End -->
                              <div class="pricing-price">
                                 <sup>$</sup>
                                 <strong>7</strong>
                                 <small>Yearly</small>
                              </div>
                              <!-- Pricing End -->
                              <a href="" class="btn btn-dark">buy now</a>

                           </div>
                           <!--  pricing box ends -->
                        </div>
                        <!-- COl end -->
                        <div class="col-md-4 animated fadeIn">
                           <div class="tw-pricing-box pricing-featured">
                              <div class="price-icon-bg">
                                 <div class="price-icon">
                                    <img src="{% static 'images/pricing/pricing_icon2.png' %}" alt="" class="img-fluid">
                                 </div>
                              </div>
                              <!-- End Pricing icon bg -->
                              <div class="pricing-feaures">
                                 <h3>Growing Business</h3>
                                 <ul>
                                    <li>25 Analytics Compaign</li>
                                    <li>1,300 Keywords</li>
                                    <li>25 social media reviews</li>
                                    <li>1 Free Optimization</li>
                                    <li>24/7 support</li>
                                 </ul>
                              </div>
                              <!-- Pricing Features End -->
                              <div class="pricing-price">
                                 <sup>$</sup>
                                 <strong>28</strong>
                                 <small>Yearly</small>
                              </div>
                              <!-- Pricing End -->
                              <a href="" class="btn btn-dark">buy now</a>

                           </div>
                           <!--  pricing box ends -->
                        </div>
                        <!-- COl end -->
                        <div class="col-md-4 animated fadeIn">
                           <div class="tw-pricing-box">
                              <div class="price-icon-bg">
                                 <div class="price-icon">
                                    <img src="{% static 'images/pricing/pricing_icon3.png' %}" alt="" class="img-fluid">
                                 </div>
                              </div>
                              <!-- End Pricing icon bg -->
                              <div class="pricing-feaures">
                                 <h3>Pro Business</h3>
                                 <ul>
                                    <li>25 Analytics Compaign</li>
                                    <li>1,300 Keywords</li>
                                    <li>25 social media reviews</li>
                                    <li>1 Free Optimization</li>
                                 </ul>
                              </div>
                              <!-- Pricing Features End -->
                              <div class="pricing-price">
                                 <sup>$</sup>
                                 <strong>47</strong>
                                 <small>Yearly</small>
                              </div>
                              <!-- Pricing End -->
                              <a href="" class="btn btn-dark">buy now</a>

                           </div>
                           <!--  pricing box ends -->
                        </div>
                        <!-- COl end -->
                     </div>
                     <!-- Tab pane end -->
                  </div>
                  <!-- Tab Content End -->
               </div>
               <!-- Row End -->
            </div>
            <!-- Pricing tab end -->
         </div>
         <!-- Content Col end -->
      </div>
      <!-- Content Row End -->
   </div>
   <!-- Container End -->

</section>
<!-- End Pricing -->


<section id="tw-blog" class="tw-blog">
   <div class="container">
      <div class="row text-center">
         <div class="col section-heading wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
            <h2>
               <small>our blog</small>
               Latest <span>Blog</span>
            </h2>
            <span class="animate-border border-offwhite ml-auto mr-auto tw-mt-20"></span>
         </div>
         <!-- Col end -->
      </div>
      <!-- Row End -->
      <div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
         <div class="col-lg-4 col-md-12">
            <div class="tw-latest-post">
               <div class="latest-post-media text-center">
                  <img src="{% static 'images/news/post1.jpg' %}" alt="blog_image_one" class="img-fluid">
               </div>
               <!-- End Latest Post Media -->
               <div class="post-body">
                  <div class="post-item-date">
                     <div class="post-date">
                        <span class="date">29</span>
                        <span class="month">May</span>
                     </div>
                  </div>
                  <!-- End Post Item Date -->
                  <div class="post-info">
                     <div class="post-meta">
                        <span class="post-author">
                           Posted by <a href="">Admin</a>
                        </span>
                     </div>
                     <!-- End Post Meta -->
                     <h3 class="post-title"><a href="https://www.bigcommerce.com/blog/influencer-marketing/#what-is-influencer-marketing">What is Influencer Marketing?</a></h3>
                     <div class="entry-content">
                        <p>
                           Influencer marketing is a way brands can promote 
                           their products through endorsements or recommendations 
                           from influencers and content creators on the internet. 
                           
                        </p>
                        <a href="https://www.bigcommerce.com/blog/influencer-marketing/#what-is-influencer-marketing" class="tw-readmore">Read More 
                           <i class="fa fa-angle-right"></i>
                        </a>
                     </div>
                     <!-- End Entry Content -->
                  </div>
                  <!-- End Post info -->
               </div>
               <!-- End Post Body -->
            </div>
            <!-- End Tw Latest Post -->
         </div>
         <!-- End Col -->
         <div class="col-lg-4 col-md-12">
            <div class="tw-latest-post">
               <div class="latest-post-media text-center">
                  <img src="{% static 'images/news/post2.jpg' %}" alt="blog_image_one" class="img-fluid">
               </div>
               <!-- End Latest Post Media -->
               <div class="post-body">
                  <div class="post-item-date">
                     <div class="post-date">
                        <span class="date">29</span>
                        <span class="month">May</span>
                     </div>
                  </div>
                  <!-- End Post Item Date -->
                  <div class="post-info">
                     <div class="post-meta">
                        <span class="post-author">
                           Posted by <a href="">Admin</a>
                        </span>
                     </div>
                     <!-- End Post Meta -->
                     <h3 class="post-title"><a href=" https://shanebarker.com/blog/effective-types-influencer-collaborations/">Effective ways to get the best Influencer Collaborations</a></h3>
                     <div class="entry-content">
                        <p>
                           To succeed with influencer marketing, the first step is
                            to find the right influencers.It’s a good idea to 
                            collaborate with an influencer who believes in the same 
                            values as your brand. 
                        </p>
                        <a href=" https://shanebarker.com/blog/effective-types-influencer-collaborations/" class="tw-readmore">Read More 
                           <i class="fa fa-angle-right"></i>
                        </a>
                     </div>
                     <!-- End Entry Content -->
                  </div>
                  <!-- End Post info -->
               </div>
               <!-- End Post Body -->
            </div>
            <!-- End Tw Latest Post -->
         </div>
         <!-- End Col -->
         <div class="col-lg-4 col-md-12">
            <div class="tw-latest-post">
               <div class="latest-post-media text-center">
                  <img src="{% static 'images/news/post3.jpg' %}" alt="blog_image_one" class="img-fluid">
               </div>
               <!-- End Latest Post Media -->
               <div class="post-body">
                  <div class="post-item-date">
                     <div class="post-date">
                        <span class="date">29</span>
                        <span class="month">May</span>
                     </div>
                  </div>
                  <!-- End Post Item Date -->
                  <div class="post-info">
                     <div class="post-meta">
                        <span class="post-author">
                           Posted by <a href="">Admin</a>
                        </span>
                     </div>
                     <!-- End Post Meta -->
                     <h3 class="post-title"><a href="https://later.com/blog/work-with-brands/">Find our best deals with trusted Brands</a></h3>
                     <div class="entry-content">
                        <p>
                           It’s generally a good idea to contact brands who are already 
                           working with influencers, as they are more likely to have an 
                           allocated budget and a streamlined process in place for managing
                           campaigns.
                        </p>
                        <a href=" https://later.com/blog/work-with-brands/" class="tw-readmore">Read More 
                           <i class="fa fa-angle-right"></i>
                        </a>
                     </div>
                     <!-- End Entry Content -->
                  </div>
                  <!-- End Post info -->
               </div>
               <!-- End Post Body -->
            </div>
            <!-- End Tw Latest Post -->
         </div>
         <!-- End Col -->
         <div class="col-md-12 text-center wow zoomIn" data-wow-duration="1s" data-wow-delay="1s"><a href="#"
               class="btn btn-primary btn-lg tw-mt-80">view all</a></div>
      </div>
      <!-- End Row -->
   </div>
   <!-- Container End -->
</section>
<!-- End tw blog --> {% endcomment %}

{% comment %} <section id="tw-client" class="tw-client">
   <div class="container">
      <div class="row  wow fadeInUp">
         <div class="col-md-12">
            <div class="clients-carousel owl-carousel">
               <div class="client-logo-wrapper d-table">
                  <div class="client-logo d-table-cell">
                     <img src="{% static 'images/clients/client1.png' %}" alt="">
                  </div>
                  <!-- End Clients logo -->
               </div>
               <!-- End Client wrapper -->
               <div class="client-logo-wrapper d-table">
                  <div class="client-logo d-table-cell">
                     <img src="{% static 'images/clients/client2.png' %}" alt="">
                  </div>
                  <!-- End Clients logo -->
               </div>
               <!-- End Client wrapper -->
               <div class="client-logo-wrapper d-table">
                  <div class="client-logo d-table-cell">
                     <img src="{% static 'images/clients/client3.png' %}" alt="">
                  </div>
                  <!-- End Clients logo -->
               </div>
               <!-- End Client wrapper -->
               <div class="client-logo-wrapper d-table">
                  <div class="client-logo d-table-cell">
                     <img src="{% static 'images/clients/client4.png' %}" alt="">
                  </div>
                  <!-- End Clients logo -->
               </div>
               <!-- End Client wrapper -->
               <div class="client-logo-wrapper d-table">
                  <div class="client-logo d-table-cell">
                     <img src="{% static 'images/clients/client2.png' %}" alt="">
                  </div>
                  <!-- End Clients logo -->
               </div>
               <!-- End Client wrapper -->
               <div class="client-logo-wrapper d-table">
                  <div class="client-logo d-table-cell">
                     <img src="{% static 'images/clients/client2.png' %}" alt="">
                  </div>
                  <!-- End Clients logo -->
               </div>
               <!-- End Client wrapper -->
               <div class="client-logo-wrapper d-table">
                  <div class="client-logo d-table-cell">
                     <img src="{% static 'images/clients/client2.png' %}" alt="">
                  </div>
                  <!-- End Clients logo -->
               </div>
               <!-- End Client wrapper -->
               <div class="client-logo-wrapper d-table">
                  <div class="client-logo d-table-cell">
                     <img src="{% static 'images/clients/client2.png' %}" alt="">
                  </div>
                  <!-- End Clients logo -->
               </div>
               <!-- End Client wrapper -->
               <div class="client-logo-wrapper d-table">
                  <div class="client-logo d-table-cell">
                     <img src="{% static 'images/clients/client2.png' %}" alt="">
                  </div>
                  <!-- End Clients logo -->
               </div>
               <!-- End Client wrapper -->
            </div>
            <!-- End Carousel -->
         </div>
         <!-- End Col -->
      </div>
      <!-- End Row -->
   </div>
   <!-- End Container -->
</section>
<!-- End Tw Client --> {% endcomment %}


{% endblock %}
