{% extends "basefile.html" %}
{% load static %}
{% block content %}



   <div id="banner-area" class="banner-area" style="background-image:url({% static 'images/banner/banner5.jpg' %})">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="banner-heading">
                  <h1 class="banner-title">Influencers</h1>
                 
               </div>
            </div>
            <!-- Col end -->
         </div>
         <!-- Row end -->
      </div>
      <!-- Container end -->
   </div>
   <!-- Banner area end -->


   {% comment %} <section id="main-container" class="main-container">
      <div class="container"> {% endcomment %}
         {% comment %} <div class="col-lg-4 col-md-12">
            <div class="sidebar sidebar-right">
               <div class="widget widget-search">
                  <div id="search" class="input-group">
                     <input class="form-control" placeholder="Search" type="search">
                     <span>
                        <i class="icon icon-search"></i>
                     </span>
                  </div>
                  <!-- End Input Group -->
               </div>
               <!-- End Widget Search -->
              
               <!-- Tags end -->
            </div>
            <!-- End Sidebar Right -->
         </div> {% endcomment %}
         <section id="main-container" class="main-container">
            <div class="container">
                  <div class="row">
                      <div class="col-md-4 text-center"> 
                     <div class="tw-case-study-box">
                        <div class="case-img study-bg-1">
                           <img src="{% static 'images/cases/case-study1.png' %}" alt="" class="img-fluid">
                        </div>
                        <!-- End case img -->
                        <div class="casestudy-content">
                           <a href="#">
                              <h4>Web Traffic Management</h4>
                           </a>
                           <p>SEO, Marketing</p>
                           <div class="team-info">
                 
                              <div class="team-social-links">
                                
                                 <a href="#"><i class="fa fa-youtube-play" style="font-size:44px;color:red; radius:50px"></i></i></a>
                                 <a href="#"><i class="fa fa-instagram" style="font-size:44px"></i></a>
                                 
                              </div>
                           </div><br>
                            <a href="#" ><p style="font-size:18px;color:black">View Details <!-- influencer/services-->
                              <i class="fa fa-angle-right"></i></p>
                           </a>
                        </div>
                        <!-- End case study content -->
                     </div>
                     <!-- End case study box -->
                  </div>
                  <!-- End Col -->
                  <div class="col-md-4 text-center">
                     <div class="tw-case-study-box">
                        <div class="case-img study-bg-2">
                           <img src="{% static 'images/cases/case-study2.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="casestudy-content">
                           <a href="#">
                              <h4>Web Traffic Management</h4>
                           </a>
                           <p>SEO, Marketing</p>
                           <div class="team-info">
                 
                              <div class="team-social-links">
                                
                                 <a href="#"><i class="fa fa-youtube-play" style="font-size:44px;color:red; radius:50px"></i></i></a>
                                 <a href="#"><i class="fa fa-instagram" style="font-size:44px"></i></a>
                                 
                              </div>
                           </div><br>
                            <a href="#" ><p style="font-size:18px;color:black">View Details <!-- influencer/services-->
                              <i class="fa fa-angle-right"></i></p>
                           </a>
                        </div>
                        <!-- End case study content -->
                     </div>
                     <!-- End case study box -->
                  </div>
                  <!-- End Col -->
                   <div class="col-md-4 text-center">
                     <div class="tw-case-study-box">
                        <div class="case-img study-bg-3">
                           <img src="{% static 'images/cases/case-study3.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="casestudy-content">
                           <a href="#">
                              <h4>Web Traffic Management</h4>
                           </a>
                           <p>SEO, Marketing</p>
                           <div class="team-info">
                 
                              <div class="team-social-links">
                                
                                 <a href="#"><i class="fa fa-youtube-play" style="font-size:44px;color:red; radius:50px"></i></i></a>
                                 <a href="#"><i class="fa fa-instagram" style="font-size:44px"></i></a>
                                 
                              </div>
                           </div><br>
                            <a href="#" ><p style="font-size:18px;color:black">View Details <!-- influencer/services-->
                              <i class="fa fa-angle-right"></i></p>
                           </a>
                        </div>
                        <!-- End case study content -->
                     </div>
                     <!-- End case study box -->
                  </div> 
                  <!-- End col -->
                   
               </div>
               <!-- End Row -->
                  </div>
               
            
             
      
      
      
      
               </div>
               <!-- Main row end -->
            </div>
            <!-- Container end -->
         {% comment %} </section> {% endcomment %}
         <!-- Main container end -->

         
      
         <div class="container">
          <div class="row">
              <div class="col-md-4 text-center"> 
             <div class="tw-case-study-box">
                <div class="case-img study-bg-1">
                   <img src="{% static 'images/cases/case-study1.png' %}" alt="" class="img-fluid">
                </div>
                <!-- End case img -->
                <div class="casestudy-content">
                   <a href="#">
                      <h4>Web Traffic Management</h4>
                   </a>
                   <p>SEO, Marketing</p>
                   
                   {% comment %} <div class="team-social-links">
                        <a href="#"><img src="https://img.icons8.com/color/48/000000/youtube-play.png"/></a>
                        <img src="https://img.icons8.com/fluency/48/000000/instagram-new.png"/>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                   </div> {% endcomment %}
                   <div class="team-info">
                 
                     <div class="team-social-links">
                       
                        <a href="#"><i class="fa fa-youtube-play" style="font-size:44px;color:red; radius:50px"></i></i></a>
                        <a href="#"><i class="fa fa-instagram" style="font-size:44px"></i></a>
                        
                     </div>
                  </div><br>
                   <a href="#" ><p style="font-size:18px;color:black">View Details <!-- influencer/services-->
                     <i class="fa fa-angle-right"></i></p>
                  </a>
                </div>
                <!-- End case study content -->
             </div>
             <!-- End case study box -->
          </div>
          <!-- End Col -->
          <div class="col-md-4 text-center">
             <div class="tw-case-study-box">
                <div class="case-img study-bg-2">
                   <img src="{% static 'images/cases/case-study2.png' %}" alt="" class="img-fluid">
                </div>
                <div class="casestudy-content">
                   <a href="#">
                      <h4>Web Traffic Management</h4>
                   </a>
                   <p>SEO, Marketing</p>
                   <div class="team-info">
                 
                     <div class="team-social-links">
                       
                        <a href="#"><i class="fa fa-youtube-play" style="font-size:44px;color:red; radius:50px"></i></i></a>
                        <a href="#"><i class="fa fa-instagram" style="font-size:44px"></i></a>
                        
                     </div>
                  </div><br>
                   <a href="#" ><p style="font-size:18px;color:black">View Details <!-- influencer/services-->
                     <i class="fa fa-angle-right"></i></p>
                  </a>
                </div>
                <!-- End case study content -->
             </div>
             <!-- End case study box -->
          </div>
          <!-- End Col -->
           <div class="col-md-4 text-center">
             <div class="tw-case-study-box">
                <div class="case-img study-bg-3">
                   <img src="{% static 'images/cases/case-study3.png' %}" alt="" class="img-fluid">
                </div>
                <div class="casestudy-content">
                   <a href="#">
                      <h4>Web Traffic Management</h4>
                   </a>
                   <p>SEO, Marketing</p>
                   <div class="team-info">
                 
                     <div class="team-social-links">
                       
                        <a href="#"><i class="fa fa-youtube-play" style="font-size:44px;color:red; radius:50px"></i></i></a>
                        <a href="#"><i class="fa fa-instagram" style="font-size:44px"></i></a>
                        
                     </div>
                  </div><br>
                   <a href="#" ><p style="font-size:18px;color:black">View Details <!-- influencer/services-->
                     <i class="fa fa-angle-right"></i></p>
                  </a>
                </div>
                <!-- End case study content -->
             </div>
             <!-- End case study box -->
          </div> 
          <!-- End col -->
           
       </div>
       <!-- End Row -->
          </div>
       
      
          <div class="container">
              <div class="row">
                  <div class="col-md-4 text-center"> 
                 <div class="tw-case-study-box">
                    <div class="case-img study-bg-1">
                       <img src="{% static 'images/cases/case-study1.png' %}" alt="" class="img-fluid">
                    </div>
                    <!-- End case img -->
                    <div class="casestudy-content">
                       <a href="#">
                          <h4>Web Traffic Management</h4>
                       </a>
                       <p>SEO, Marketing</p>
                       <div class="team-info">
                 
                        <div class="team-social-links">
                          
                           <a href="#"><i class="fa fa-youtube-play" style="font-size:44px;color:red; radius:50px"></i></i></a>
                           <a href="#"><i class="fa fa-instagram" style="font-size:44px"></i></a>
                           
                        </div>
                     </div><br>
                      <a href="#" ><p style="font-size:18px;color:black">View Details <!-- influencer/services-->
                        <i class="fa fa-angle-right"></i></p>
                     </a>
                    </div>
                    <!-- End case study content -->
                 </div>
                 <!-- End case study box -->
              </div>
              <!-- End Col -->
              <div class="col-md-4 text-center">
                 <div class="tw-case-study-box">
                    <div class="case-img study-bg-2">
                       <img src="{% static 'images/cases/case-study2.png' %}" alt="" class="img-fluid">
                    </div>
                    <div class="casestudy-content">
                       <a href="#">
                          <h4>Web Traffic Management</h4>
                       </a>
                       <p>SEO, Marketing</p>
                       <div class="team-info">
                 
                        <div class="team-social-links">
                          
                           <a href="#"><i class="fa fa-youtube-play" style="font-size:44px;color:red; radius:50px"></i></i></a>
                           <a href="#"><i class="fa fa-instagram" style="font-size:44px"></i></a>
                           
                        </div>
                     </div><br>
                      <a href="#" ><p style="font-size:18px;color:black">View Details <!-- influencer/services-->
                        <i class="fa fa-angle-right"></i></p>
                     </a>
                    </div>
                    <!-- End case study content -->
                 </div>
                 <!-- End case study box -->
              </div>
              <!-- End Col -->
               <div class="col-md-4 text-center">
                 <div class="tw-case-study-box">
                    <div class="case-img study-bg-3">
                       <img src="{% static 'images/cases/case-study3.png' %}" alt="" class="img-fluid">
                    </div>
                    <div class="casestudy-content">
                       <a href="#">
                          <h4>Web Traffic Management</h4>
                       </a>
                       <p>SEO, Marketing</p>
                       <div class="team-info">
                 
                        <div class="team-social-links">
                          
                           <a href="#"><i class="fa fa-youtube-play" style="font-size:44px;color:red; radius:50px"></i></i></a>
                           <a href="#"><i class="fa fa-instagram" style="font-size:44px"></i></a>
                           
                        </div>
                     </div><br>
                      <a href="#" ><p style="font-size:18px;color:black">View Details <!-- influencer/services-->
                        <i class="fa fa-angle-right"></i></p>
                     </a>
                    </div>
                    <!-- End case study content -->
                 </div>
                 <!-- End case study box -->
              </div> 
              <!-- End col -->
               
           </div>
           <!-- End Row -->
              </div>
      
        
      
       
             <!-- 3rd article end end -->
             <div class="paging text-center">
                <ul class="pagination justify-content-center">
                   <li><a href="#"><i class="icon icon-arrow-left"></i></a></li>
                   <li class="active"><a href="#">1</a></li>
                   <li><a href="#">2</a></li>
                   <li><a href="#">3</a></li>
                   <li><a href="#">4</a></li>
                   <li><a href="#"><i class="icon icon-arrow-right"></i></a></li>
                </ul>
                <!-- Pagination End -->
             </div>
             <!-- paging End -->
          </div>
          <!-- Content Col end -->
      
         
               


            

         </div>
         <!-- Main row end -->
      </div>
      <!-- Container end -->
   </section>
   <!-- Main container end -->



 


   <!-- Javascripts File
      =============================================================================-->



   {% endblock %}