
{% load static%}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>SignUp</title>
        <!-- FOR SIGNUP
           Bootstrap core CSS  --> 
        <link href="{% static 'css/login.css' %}" rel="stylesheet">
        <!-- Bootstrap core CSS -->
    
    </head>
    <body> 
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="{% url 'influencer_signup' %}"><br><br><br><br><br><br><br><br><br>
               
                <button>Sign Up As Influencer</button>
            </form>
            <form action="{% url 'brand_signup' %}"><br>
               
                <button>Sign Up As Brand</button>
            </form>
        </div>

        {% comment %} </div> {% endcomment %}
        <div class="overlay-container">
            <div class="overlay">
                {% comment %} <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div> {% endcomment %}

                
                <div class="overlay-panel overlay-right">
                    <h1>Let's Connect</h1><br>
                    <img src="{% static 'images/icon/service3.png' %}" alt="" width="100px" height="70px">
                    {% comment %} <h1>I am Brand</h1>
                    <p>Looking for Influencers</p>
                    <button>Sign Up</button> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    
    <!-- Scripts -->
     {% comment %} <script src="{% static 'js/login.js' %}"></script> {% endcomment %}
        
    </body>
    </html> 
     <!--footer>
        <p>
            Created with <i class="fa fa-heart"></i> by
            <a target="_blank" href="https://florin-pop.com">Florin Pop</a>
            - Read how I created this and how you can join the challenge
            <a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
        </p>
    </footer--> 
    
    {% comment %} {% endblock %} {% endcomment %}

 {% endblock %} 
