{% load static%}
{% block content %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <title>SignUp</title>
    <!-- FOR SIGNUP
           Bootstrap core CSS  -->
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <!-- Bootstrap core CSS -->

</head>

<body>
    <div class="container" id="container" style="width: 700px;height:400px">
        <div class="form-container sign-in-container justify-content-center"
            style="width: 350px;height:400px;padding-left:80px;">
            <div class="row" style="margin-top:40%;">
                <a href="{% url 'influencer_signup' %}"
                    style="color:#000;font-size:1.3em;border:1px solid #000;padding:40px 20px;margin-right: 5px;">I'm
                    Influencer</a>


            </div>
            <div class="row" style="margin-top:50%">
                <a href="{% url 'brand_signup' %}"
                    style="color:#000;font-size:1.3em;border:1px solid #000;padding:40px 40px;margin-right: 5px;">I'm
                    Brand</a>
            </div>
        </div>

        {% comment %}
    </div> {% endcomment %}
    <div class="overlay-container">
        <div class="overlay">
            {% comment %} <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div> {% endcomment %}


            <div class="overlay-panel overlay-right">
                <h1>Let's Connect</h1><br>
                <img src="{% static 'images/icon/service3.png' %}" alt="" width="100px" height="70px">
                <div class="row" style="margin-top:10%">
                    <a href="{% url 'homepage' %}"
                        style="color:#fff;font-size:1em;border:1px solid #fff;padding:10px 10px;margin-right: 5px;">Go
                        to Home</a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Scripts -->
    {% comment %}
    <script src="{% static 'js/login.js' %}"></script> {% endcomment %}

</body>

</html>
<!--footer>
        <p>
            Created with <i class="fa fa-heart"></i> by
            <a target="_blank" href="https://florin-pop.com">Florin Pop</a>
            - Read how I created this and how you can join the challenge
            <a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
        </p>
    </footer-->

{% comment %} {% endblock %} {% endcomment %}

{% endblock %}