{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Influencer/Brand Loginpage | theSocialTubers</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">

</head>

<body>
    <main>
        <div class="container-fluid">

            <div class="row text-center">
                <div class="col-sm-6 login-section-wrapper">
                    <!-- <div class="brand-wrapper">
                        <img src="{% static 'assets/images/logo.svg' %}" alt="logo" class="logo">
                    </div> -->

                    <div class="login-wrapper my-auto">
                        {% for message in messages %}

                        <div class="alert alert-danger">
                            <a class="close" href="#" data-dismiss="alert">×</a>
                            {{ message }}
                        </div>

                        {% endfor %}
                        <h1 class="login-title text-center text-muted"> WHO ARE YOU? </h1>

                        <a href="{% url 'influencer_signup' %}" style="text-decoration: none;"><button name="login"
                                class="btn btn-block login-btn-reverse" type="submit">I'm
                                Influencer</button></a>
                        <p class="text-center">OR</p>
                        <a href="{% url 'brand_signup' %}" style="text-decoration: none;"><button name="login"
                                class="btn btn-block login-btn" type="submit">I'm Brand</button></a>
                        <a href="{% url 'homepage' %}" class="forgot-password-link">
                            << Go back to home</a>
                    </div>
                </div>
                <div class="col-sm-6 px-0 d-none d-sm-block">
                    <img src="{% static 'assets/images/bg.png' %}" alt="login image" class="login-img">
                </div>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>