{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Influencer/Brand Loginpage | theSocialTubers</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
</head>

<body>
    <main>
        <div class="container-fluid" style="overflow-x: hidden;">

            <div class="row">
                <div class="col-sm-7 login-section-wrapper">
                    <!-- <div class="brand-wrapper">
                        <img src="{% static 'assets/images/logo.svg' %}" alt="logo" class="logo">
                    </div> -->
                    {% if form.non_field_errors %}
                    <ul>
                        {% for error in form.non_field_errors %}
                        <li style="color:red">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}


                    <div class="login-wrapper" style="margin-top: -10%;font-size:10px;padding:0px">
                        <!-- {% for message in messages %} -->

                        <div class="alert alert-danger">
                            <a class="close" href="#" data-dismiss="alert">×</a>
                            {{ form.errors }}
                        </div>

                        <!-- {% endfor %} -->
                        <h1 class="login-title">Register Here!</h1>
                        <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password">Select your category</label>

                                        {{ form.category_type }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password">Youtube Channel Name</label>

                                        {{ form.channel_name }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password">YouTube Channel ID</label>

                                        {{ form.youtube_id }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password">Instagram ID</label>

                                        {{ form.instagram_id }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="password">Password</label>

                                    <div class="form-group">
                                        {{ form.password1 }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="password">Confirm Password</label>

                                    <div class="form-group">
                                        {{ form.password2 }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password">Email</label>

                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="password">Profile Photo</label>

                                    <div class="form-group">
                                        {{ form.profile_photo }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="password">Describe yourself in short</label>
                                        {{ form.short_description }}
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="color:red;font-size: 1.5em;">
                                    {# To really make sure you debug this #}
                                    {{ form.errors }}
                                </div>
                            </div>


                            <button name="login" class="btn btn-block login-btn" type="submit">Register</button>
                        </form>
                        <!-- <a href="#!" class="forgot-password-link">Forgot password?</a> -->
                        <p class="login-wrapper-footer-text">Already have an account? <a href="{% url 'login_page' %}"
                                class="text-reset">Login here</a></p>
                    </div>
                </div>
                <div class="col-sm-5">
                    <img src="{% static 'assets/images/bg1.png' %}" alt="login image" class="login-img"
                        style="height: auto;width:800px;padding-right: 2em;margin-left: -8em;margin-top: 8em;">
                </div>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>