{% load static %}

<header>
    <div class="tw-head">
        <div class="container-fluid pl-5 pr-5">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <a class="navbar-brand tw-nav-brand" href="{% url 'homepage' %}">
                    <img src="{% static 'images/logo/logoimage.png' %}" alt="SocialTubers" height="80" width="auto">
                </a>
                <!-- End of Navbar Brand -->
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- End of Navbar toggler -->
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'homepage' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'influencers' %}">Influencers</a>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link" href="{% url 'aboutpage' %}">About</a>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link" href="{% url 'service' %}">Services</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contactpage' %}">Contact</a></li>

                    </ul>

                    <!-- End Navbar Nav -->
                </div>
                <!-- End of navbar collapse -->
                <a href="{% url 'login' %}" class="btn btn-primary">SignUp / SignIn</a>
                <!-- &nbsp&nbsp&nbsp -->
                <!-- <a href="{% url 'signup' %}" class="btn btn-primary ">SignUp</a> -->

                <!-- End off canvas menu -->
            </nav>
            <!-- End of Nav -->
        </div>
        <!-- End of Container -->
    </div>
    <!-- End tw head -->
</header>