{% load static %}

<!-- Javascripts File
      =============================================================================-->

<!-- initialize jQuery Library -->
<script src="{% static 'js/jquery-2.0.0.min.js' %}"></script>
<!-- Popper JS -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap jQuery -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Owl Carousel -->
<script src="{% static 'js/owl-carousel.2.3.0.min.js' %}"></script>
<!-- Waypoint -->
<script src="{% static 'js/waypoints.min.js' %}"></script>
<!-- Counter Up -->
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<!-- Video Popup -->
<script src="{% static 'js/jquery.magnific.popup.js' %}"></script>
<!-- Smooth scroll -->
<script src="{% static 'js/smoothscroll.js' %}"></script>
<!-- WoW js -->
<script src="{% static 'js/wow.min.js' %}"></script>
<!-- Template Custom -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>